.main {
    display: grid;
    grid-area: main;
    grid: "heading" min-content
           "form" 1fr
           / 1fr;
    width: 80dvw;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

.heading {
    font-size: 1.5rem;
    font-weight: var(--fw-700)
}

form {
    color: var(--grey-200);
}