.textInput {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & .required {
        color: var(--green-600);
    }

    & label { 
        font-weight: var(--fw-700);
    }

    & input {
        padding: 10px;
        border: 1px solid var(--grey-500);
        border-radius: 5px;
        background-color: inherit;
        color: var(--grey-600);
    }
}